#exportPattern("^[[:alpha:]]+")

import("methods")
importFrom("graphics", "plot")
import("stats4")

exportClasses(
    "COGprm",
     "trajectories",
     "varGamma" 
)

exportMethods(
    "rCOGARCH"
)

export(COGprm)
export(varGamma)
export(rCOGARCH)

useDynLib(COGARCH)
