exportPattern("^[[:alpha:]]+")
exportMethods(
    "plot",
    "rCOGARCH",
    "shrinker",
    "summary" 
)
exportClasses(
    "trajectories",
     "COGprm",
     "shock",
     "varGamma" 
)
useDynLib(COGARCH)
