#exportPattern("^[[:alpha:]]+")

import("methods")
importFrom("graphics", "plot")
import("stats4")

exportClasses(
    "COGprm",
     "trajectories",
     "varGamma" 
)

exportMethods(
    "rCOGARCH",
	"setPsi",
	"MSPEcontrast",
	"OPBEF",
	"PML",
	"PMLestimation",
	"as.vector",
	"MSPEestimation",
	"OPBestimation"
)
export(COGprm, varGamma, rCOGARCH, MSPEcontrast, OPBcontrast, MMestimation, OPBestimation, MSPEestimation,OPBEF, setPsi, EG2, EG4, EG6, EG8, EG2G2, EG4G2, EG2G4, EG4G4, EG2G6, EG6G2, EG2G2G2, EG4G2G2, EG2G4G2, EG2G2G4, EG2G2G2G2,PML,PMLestimation)

useDynLib(COGARCH)
